@import url(satoshi.css);

body {
	font-family: 'Satoshi-Regular', sans-serif;
}

.fa-arrow-down {
	display: none;
}

/* ------HEADER------ */

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	/* border: 1px solid red; */
}

header img {
	display: none;
}

nav {
	display: flex;
	/* border: 1px solid red; */
	text-align: center;
	justify-content: space-around;
}

nav a {
	padding: 8px;
	text-decoration: none;
	color: black;
	transition: 0.2s all ease;
}

nav a:hover {
	color: #f241c3;
	transform: translateY(0.1em);
}

header h1 {
	font-size: 2.5em;
	text-align: center;
	margin: 0;
	/* border: 1px solid blue; */
	padding: 0;
}

header h2 {
	margin: 0;
	text-align: center;
	font-size: 1em;
	font-family: 'Satoshi-Bold', sans-serif;
}

/* ------ARTICLE------ */

article {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	padding: 10px;
}
p {
	font-size: 0.8em;
}

/* ------ABOUT PAGE------ */

#aboutMain {
	display: flex;
	align-items: center;
	justify-content: center;
}

#aboutMe {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 600px;
	background: none;
}

#aboutMe p {
	padding: 10px;
}

#aboutMe img {
	max-width: 360px;
}

@media screen and (min-width: 700px) {
}

@media screen and (min-width: 850px) {
	#body {
		display: flex;
	}

	main {
		flex: 3.25;
	}

	article {
		border: 1px solid black;
	}

	/* ------HEADER------ */

	header {
		border-right: none;
		flex: 1;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		padding: 10px 10px 10px 10px;
	}

	#sticky {
		position: -webkit-sticky;
		position: sticky;
		top: 10px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		height: 100vh;
	}

	#headImg {
		display: flex;
		justify-content: center;
		flex-grow: 1;
	}

	header img {
		display: initial;
		width: 80%;
		align-self: center;
		margin-top: -4em;
		margin-left: -0.5em;
	}

	.fa-arrow-down {
		display: block;
		margin-top: 0.5em;
		font-size: 2em;
	}

	header h1 {
		font-size: 2.2em;
		padding-bottom: 0.2em;
		font-style: italic;
		text-align: left;
	}

	header h2 {
		text-align: left;
	}

	nav {
		display: flex;
		text-align: left;
		flex-direction: column;
		padding: 0;
		margin-left: 0em;
		margin-top: 0.5em;
	}

	nav a {
		text-decoration: none;
		color: black;
		transition: 0.2s all ease;
		padding-left: 0;
	}

	#aboutBody {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid black;
	}

	#aboutMe {
		background: none;
	}

	#aboutHead {
		height: 94.5vh;
		display: flex;
		border-right: 1px solid black;
		justify-content: space-between;
	}

	#aboutHead i {
		margin: 0;
	}

	#aboutHead img {
		margin-top: -4em;
		margin-left: 0em;
	}
}
