@import url(satoshi.css);

body {
	font-family: 'Satoshi-Regular', sans-serif;
	overflow-x: hidden;
}

header h1 {
	font-size: 2.5em;
	text-align: center;
	margin: 0;
}

header h2 {
	margin: 0;
	text-align: center;
	font-size: 1em;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	/* border: 1px solid red; */
}
nav {
	display: flex;
	/* border: 1px solid red; */
	text-align: center;
	justify-content: space-around;
}
nav a {
	padding: 8px;
	text-decoration: none;
	color: black;
	transition: 0.2s all ease;
}

nav a:hover {
	color: #f241c3;
	transform: translateY(0.1em);
}

.siteLink {
	background-position: 0 0;
	text-decoration: none;
	margin: 5px;
	padding: 10px;
	border-radius: 25px;
	border: 1px solid black;
	transition: 0.4s ease all;
	overflow: hidden;
	color: black;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

#artquery-link:hover {
	background: rgb(217, 215, 204);
	background: linear-gradient(
		90deg,
		rgba(217, 215, 204, 1) 0%,
		rgba(175, 192, 186, 1) 20%,
		rgba(172, 107, 68, 1) 40%,
		rgba(167, 154, 173, 1) 60%,
		rgba(144, 164, 161, 1) 80%,
		rgba(217, 215, 204, 1) 100%
	);
	background-position: 100px;
	box-shadow: 0px 0px 0px black;
	border: 2px solid transparent;
	transform: scale(1.05);
}
#filmarchive-link:hover {
	background: rgb(216, 211, 205);
	background: linear-gradient(
		90deg,
		rgba(216, 211, 205, 1) 0%,
		rgba(142, 131, 126, 1) 12.5%,
		rgba(58, 148, 186, 1) 25%,
		rgba(210, 177, 182, 1) 37.5%,
		rgba(192, 116, 56, 1) 50%,
		rgba(188, 164, 149, 1) 62.5%,
		rgba(46, 129, 102, 1) 75%,
		rgba(242, 197, 201, 1) 87.5%,
		rgba(216, 211, 205, 1) 100%
	);
	background-position: 100px;
	box-shadow: 0px 0px 0px black;
	border: 2px solid transparent;
	transform: scale(1.05);
}

#musicviz-link:hover {
	background: rgb(0, 0, 0);
	background: linear-gradient(
		90deg,
		rgba(201, 196, 191, 1) 0%,
		rgba(230, 230, 230, 1) 20%,
		rgba(217, 208, 208, 1) 40%,
		rgba(96, 105, 105, 1) 60%,
		rgba(157, 45, 80, 1) 80%,
		rgba(201, 196, 191, 1) 100%
	);
	background-position: 100px;
	box-shadow: 0px 0px 0px black;
	border: 2px solid transparent;
	transform: scale(1.05);
}

article {
	padding-top: 0;
	/* border: 1px solid red; */
	margin: 0;
	padding: 0;
	/* border: 1px solid red; */
	margin-top: 10px;
}

article h1 {
	font-size: 5em;
	font-weight: 300;
	transition: 0.5s ease all;
	padding: 10px;
	margin: 0;
}

main article > h1:hover {
	cursor: pointer;
	transform: translateY(-0.1em);
	color: #f241c3;
}

#process,
#design,
#info {
	position: relative;
}

.dropdown {
	position: absolute;
	top: 0;
	border: 1px solid black;
	z-index: -1;
	opacity: 0;
	padding: 1em;
	display: flex;
	/* width: auto; */
	width: 80%;
}

#designDrop {
	right: 0;
}

.dropdown a:hover {
	color: #f241c3;
}

#processDrop,
#designDrop,
#infoDrop {
	transition: 0.5s ease all;
	/* display: flex; */
}

#design h1 {
	text-align: right;
}

i {
	font-size: 0.6em;
	vertical-align: middle;
	transition: 0.5s ease transform;
}

#process,
#design,
#info {
	transition: 0.5s ease all;
}

#process,
#design,
#info {
	transition: 1s ease opacity;
}

.dropdown h2 {
	font-size: 25px;
	/* border: 1px solid red; */
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 300;
}

.dropdown h2:first-child {
	margin-top: 0;
}

.dropSection {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-self: flex-start;
	height: auto;
}

.dropImg {
	/* border: 1px solid blue; */
	flex: 1.25;
	/* height: inherit; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dropP {
	flex: 1;
	display: flex;
	flex-direction: column;
	/* border: 1px solid green; */
	justify-content: left;
	padding-left: 10px;
	align-self: flex-start;
	top: 0;
	height: auto;
}

.dropP {
	position: -webkit-sticky;
	position: sticky;
	top: -100px;
}

.dropSection img,
.dropSection video {
	max-width: 100%;
	height: auto;
	object-fit: contain;
	max-height: 500px;
	padding-bottom: 10px;
	/* border: 1px solid blue; */
}

.dropSection p {
	margin: 10px;
	font-size: 0.8em;
	padding-left: 10px;
	margin-right: 2em;
}
.dropSection p:first-child {
	margin-top: 0;
}

.dropSection ul,
.dropSection ol {
	/* border: 1px solid red; */
	font-size: 0.8em;
	margin: 10px;
}

ul li,
ol li {
	list-style-type: circle;
	padding-bottom: 0.5em;
	margin-right: 2em;
}

ul li:last-of-type {
	padding-bottom: 0;
}

ol li {
	list-style-type: upper-roman;
}
svg {
	width: 3em;
	transition: 0.5s ease all;
	/* border: 1px solid red; */
	padding: 5px;
}

/* svg:hover {
	transform: rotateY(-180deg);
} */
.svg {
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 1px solid blue; */
	margin: 0 10px 0 10px;
	height: 100%;
}

.fa-chevron-down {
	font-size: 1em;
}

.dropdown {
	display: none;
}

.footer {
	position: fixed;
	bottom: 0;
	width: auto;
	text-align: center;
	height: 2em;
	width: 100%;
}

footer button,
.mobileFooter button {
	margin-top: 3.5em;
	margin-bottom: 1em;
	background: none;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	font-size: 13px;
	background-color: transparent;
	outline: none;
	border: 1px solid black;
	border-radius: 45px;
	width: 75px;
	height: 20px;
	transition: all 0.25s ease;
}

footer button:hover,
.mobileFooter button:hover {
	transform: translateY(-0.1em);
	cursor: pointer;
	background: #f241c3;
	border: none;
	color: white;
	/* background-position: 100px; */
	box-shadow: 0px 0px 0px black;
	border: 2px solid transparent;
	transform: scale(1.05);
}

.mobileFooter {
	display: none;
}

.xButton {
	font-size: 1.4em;
	position: -webkit-sticky;
	position: sticky;
	top: -120px;
	text-align: right;
	height: 100%;
	align-self: flex-start;
	float: right;
	margin-top: -10px;
	transition: 0.25s ease all;
	z-index: 3;
}

.xButton:hover {
	color: #f241c3;
	cursor: pointer;
	transform: scale(1.2);
	transform: translateY(-0.1em);
}

section {
	height: 100%;
	/* border: 1px solid red; */
	/* align-self: flex-start;
	display: initial; */
}

@media screen and (min-width: 800px) {
	.dropImg {
		flex: 1;
	}
}

@media screen and (max-width: 450px) {
	.footer {
		display: none;
	}

	.xButton {
		display: none;
	}

	section {
		height: 100%;
	}

	.mobileFooter {
		display: flex;
		/* padding: -16px; */
		justify-content: center;
		padding-bottom: 1em;
		/* border: 1px solid red; */
	}

	.mobileFooter button {
		padding: 0;
		/* font-size: 1em; */
	}

	.mobileFooter button:hover {
		color: #f241c3;
		transform: translateY(-0.1em);
		cursor: pointer;
	}

	.dropSection {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-self: auto;
		height: auto;
	}

	.dropSection p {
		margin: 0px;
		font-size: 0.8em;
		padding-left: 0px;
		margin-right: 2em;
		padding-right: 30px;
	}

	/* .dropSection p {
		margin: 10px;
		font-size: 0.8em;
		margin-right: 2em;
	} */

	.dropSection ul,
	.dropSection ol {
		font-size: 0.8em;
		margin: 10px 0px 10px 0px;
	}

	.dropdown {
		position: initial;
		border: none;
		z-index: -1;
		opacity: 0;
		padding: 1em;
		display: none;
		margin: auto;
		/* padding-top: 2em; */
		margin-top: -128px;
		border: 1px solid black;
	}

	.dropImg {
		/* border: 1px solid blue; */
		flex: 1;
		/* height: inherit; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.dropP {
		flex: 1;
		display: flex;
		flex-direction: column;
		/* border: 1px solid green; */
		justify-content: inherit;
		padding-left: 0px;
		align-self: auto;
		top: 0;
		height: auto;
		/* border: 1px solid green; */
		padding: 0;
		margin: 0;
		width: 100%;
	}

	#musicviz-link {
		font-size: 0.8em;
	}
}
